.tagList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__tag {
        border: 1px solid $color-tag-border;
        //background-color: $color-primary-text;
        text-transform: capitalize;
        border-radius: .7rem;
        font-style: normal;
        font-weight: 500;
        font-size: .75rem;
        line-height: 1;
        cursor: pointer;
        margin: 5px;
        padding: 2px;
        user-select: none;
        &__active {
            color: $color-primary-text;
            background-color: $color-primary-background;
        }        
    }
}
.activeTag{
    color: $color-primary-text;
    background-color: $color-primary-background;
}
