/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap'); */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // font-family: 'Roboto', sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: clamp(320px, 100vw, 1440px);
    margin: auto;
    font-size: 1rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: $color-primary-background;
}

