.skipToContent{
    border-radius: 5px;
    background-color: $color-secondary-background;
    color: $color-secondary-text;

    padding: 2px 20px;
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
    text-align: center;

    width: fit-content;

    position: absolute;
    top: 5px;
    --leftPosSkip: calc(50% - 85px);
    left: var(--leftPosSkip);

    display: none;
}

.main{
    &__title{
        position: absolute;
        top: 35px;
        --leftPos: calc(50% + 300px);
        left: var(--leftPos);
    }

    &__content{

        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        align-content: space-between;
        flex-wrap: wrap;
    }
}