.main{

    &__content{
        width: 100%;
        padding: 1.2rem;
        display: flex;
        justify-content: space-around;
        align-content: space-between;
        flex-wrap: wrap;
    }
}