// Colors
$color-primary-background: #901c1c;
$color-primary-text: #ffffff;
$color-secondary-background: #db8876;
$color-secondary-text: #000000;
$color-tag-border: #c4c4c4;

// Typography

// Media breakpoints
$mobile-bp-max: 380px;
$desktop-bp-max: 992px;

