.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 3rem;
    margin-top: 2rem;
    @media screen and (max-width: $mobile-bp-max) {
        flex-direction: column;
        margin: 1em auto; 
    }    
    @media screen and (max-width: $desktop-bp-max) {
        flex-direction: column;
        margin: 1em auto;
    }    
    &__logo{
        max-width: 12.5rem;
        max-height: 3rem;
    }
    &__nav{
        padding-top: .8rem;
        padding-left: 6.25rem;
        @media screen and (max-width: $mobile-bp-max) {
            padding: 1em; 
        } 
    }
    &__title{
        color: $color-primary-background;
        font-weight: 400;
    }
}
.skiptocontent {
    position: fixed;
    top: -100px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    color: #000;
    background: $color-secondary-background;
    width: 182px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 4px 0 0 0;

    &:hover {
      color: #fff;
      background: $color-primary-background;
    }
  }